/data/horseback/generals_loc.dat
/data/conf.dat
/.screenshot2020-*
/data/CR/generals_loc.dat
/data/wiktor/generals_loc.dat
/data/the_nords/generals_loc.dat
**/generals_loc.dat
/data/*/generals_loc.dat
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/settlersbot.iml
/.idea/vcs.xml
/venv/
/client_file/g1.json
/client_file/chromedriver.exe
/client_file/aaa.json
